<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<parameter name="pdfngreport-properties" value="pdfngreport.properties" />
  <listeners>
   	 <listener class-name="com.test.baselib.TestngListener" />
   	 <listener class-name="org.uncommons.reportng.HTMLReporter"/>
     <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
     <listener class-name="com.uttesh.pdfngreport.PDFReportListener" />
   </listeners>
   
   <test name="WelcomeJoinTest">
    <classes>
          	<class name="com.test.scripts.WelcomeJoinTest"/>
    </classes>
  </test> <!-- END of TutorialTest -->
  
</suite> <!-- Suite -->
